on property:ro.vendor.hw.ram=3GB
    setprop dalvik.vm.heapstartsize 12m
    setprop dalvik.vm.heapgrowthlimit 256m
    setprop dalvik.vm.heapsize 512m
    setprop dalvik.vm.heaptargetutilization 0.58
    setprop dalvik.vm.heapminfree 6m
    setprop dalvik.vm.heapmaxfree 24m

on property:ro.vendor.hw.ram=4GB
    setprop dalvik.vm.heapstartsize 12m
    setprop dalvik.vm.heapgrowthlimit 256m
    setprop dalvik.vm.heapsize 512m
    setprop dalvik.vm.heaptargetutilization 0.55
    setprop dalvik.vm.heapminfree 8m
    setprop dalvik.vm.heapmaxfree 24m

on property:ro.vendor.hw.ram=6GB
    setprop dalvik.vm.heapstartsize 16m
    setprop dalvik.vm.heapgrowthlimit 384m
    setprop dalvik.vm.heapsize 768m
    setprop dalvik.vm.heaptargetutilization 0.55
    setprop dalvik.vm.heapminfree 8m
    setprop dalvik.vm.heapmaxfree 40m

on property:ro.vendor.hw.ram=8GB
    setprop dalvik.vm.heapstartsize 24m
    setprop dalvik.vm.heapgrowthlimit 512m
    setprop dalvik.vm.heapsize 1024m
    setprop dalvik.vm.heaptargetutilization 0.5
    setprop dalvik.vm.heapminfree 12m
    setprop dalvik.vm.heapmaxfree 64m
