# Egistec fingerprint
/dev/esfp0            0660   system     system

# Goodix FPS
/dev/goodix_fp      0664    system  system

# Chipone FPS
/dev/fpsensor      0660    system  system

#Focaltech FPS
/dev/focaltech_fp      0660    system  system

# Change permission for FPC fingerprint
/sys/class/fingerprint/fpc1020 nav        0440     system    system
/sys/class/fingerprint/fpc1020 irq        0440     system    system
/sys/class/fingerprint/fpc1020 irq_cnt    0440     system    system
/sys/class/fingerprint/fpc1020 dev_enable 0220     system    system
/sys/class/fingerprint/fpc1020 vendor     0444     system    system
